* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url("../../images/background_campo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
}
.container1 {
  background-color: #110e0ef1;
  width: 450px;
  height: auto;
}
.cabeçalho @font-face {
  font-family: Bombing;
  src: url("./Bombing.ttf") format ("truetype") ;
  font-weight: normal;
  font-style: normal;
  }

#paragraph {
  margin-top: 8px;
  margin-bottom: 8px;
}
.btnSucess {
  color: #00ff22ad;
  border: 1px solid #017c1b;
}
.btnSucess:hover {
  background-color: #21c01b;
  color: white;
}
.fotter {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 15px;
}
